<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\gbutl\Documents\BlueBin\Applications\BlueBinOperations\WholePackage_v2.3\Build\v2.3.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>dms.bluebin.com/DemoV23</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlueBinHardwareConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sqlprod.bluebin.com;Initial Catalog=BlueBinHardware;User ID=BlueBinHardware_AppUser;Password=BBTHardyHar123!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlprod.bluebin.com;Initial Catalog=BlueBinHardware;User ID=BlueBinHardware_AppUser;Password=BBTHardyHar123!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlueBinHardwareConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlprod.bluebin.com;Initial Catalog=BlueBinHardware;User ID=BlueBinHardware_AppUser;Password=BBTHardyHar123!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Site_ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Site_ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlueBinHardwareConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sqlprod.bluebin.com;Initial Catalog=BlueBinHardware;User ID=BlueBinHardware_AppUser;Password=BBTHardyHar123!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Site_ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sqlprod.bluebin.com;Initial Catalog=DemoV23;User ID=Demo_AppUser;Password=BBT2015!DemoDemo</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>